body {
	background-image: url(../images/blue-glowing-starfield.jpg)
}

.jumbotron {
	margin-top: 30px;
	border-style: solid;
	border-width: 8px;
	padding: 20px;
}

.jumbotron h1 {
	font-size: 90px;
	font-family: 'Kaushan Script', cursive;
	margin-top: 0px;
	padding-bottom: 20px;
}

.jumbotron h3, h4 {
	font-family: 'Courgette', cursive;
}

.label {
	padding: 5px 10px 5px 10px;
	font-size: 20px;
}

.panel {
	font-size: 20px;
	border-width: 8px;
	border-radius: 10px;
	font-family: 'Fredoka One', cursive;
}

.panel h3 {
	font-size: 22px;
	font-family: 'Courgette', cursive;
}